<%- include ('../partials/header') %> 
<%- include ('../partials/secondary_menu') %>

        <!-- Carousel -->
        <div class="container" id="carousel-page">
          <div id="carouselExampleIndicators" class="carousel slide">
              <div class="carousel-indicators mb-3">
                <form action="/cart/add" method="POST" class="mr-auto ml-auto">
                  <input type="submit" value="add to cart" class="btn btn-outline-success" 
                  <% if (locals.cart.length != 0){
                      for (var j = 0; j < locals.cart.length; j++){
                          if (locals.cart[j].product_id == locals.products[locals.random].product_id){ %>
                              disabled
                          <% }
                      }
                  } %>
                  >
                  <input type="hidden" name="product_id" value=<%=locals.products[locals.random].product_id%>>
                </form>
                <form action="/carousel" method="GET" class="mr-auto ml-auto">
                  <input type="submit" value="randomize" class="btn btn-outline-danger">
                </form>
                <form action="/favorite/add" method="POST" class="mr-auto ml-auto">
                  <input type="submit" value="favorite" class="btn btn-outline-warning"
                  <% if (locals.favorite_products.length != 0){
                      for (var j = 0; j < locals.favorite_products.length; j++){
                          if (locals.favorite_products[j].product_id == locals.products[locals.random].product_id){ %>
                              disabled
                          <% }
                      }
                  } %>
                  >
                  <input type="hidden" name="product_id" value=<%=locals.products[locals.random].product_id%>>
              </form>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src=<%=locals.products[locals.random].image_url%> class="d-block w-80" alt="Slide 1" id="carousel-img">
                </div>
              </div>
          </div>
      </div>

<%- include ('../partials/footer') %>