<%- include ('../partials/header') %> 
<%- include ('../partials/secondary_menu') %>

<div class="container">
    <h1>Your Shopping Cart</h1>
    <% if (cartItems.length === 0) { %>
        <p>Your cart is currently empty.</p>
    <% } else { %>
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <% let grandTotal = 0; %>
                <% cartItems.forEach(function(item) { %>
                    <% grandTotal += item.price; %>

                    <tr>
                        <td><%= item.name %></td>
                        <td><%= item.price %></td>
                    </tr>
                <% }) %>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Total:</td>
                    <td><%= grandTotal %></td>
                </tr>
            </tfoot>
        </table>
    <% } %>
</div>

<%- include ('../partials/footer') %>