<%- include ('../partials/header') %> 
<%- include ('../partials/main_menu') %>

<div class="container" style="max-width: 80%;">
    <div class="row mt-5" ></div>
    <div class="row mt-5 mb-5 text-center">
        <% for (var i = 0; i < locals.products.length; i++){ %>
            <div class="col">
                <div class="card mb-3" style="width: 18rem; height: 375px; border-width: 3px;">
                    <img src=<%=locals.products[i].image_url%> class="card-img-top rounded p-1" style="height: 175px;">
                    <div class="card-body">
                        <h4><%=locals.products[i].name%></h4>
                        <p class="card-text">
                            <%=locals.products[i].description%>
                        </p>
                        <div class="row">
                            <p class="card-text mr-auto ml-auto">
                                Size: <%=locals.products[i].size%>
                            </p>
                            <p class="card-text mr-auto ml-auto">
                                Price: $<%=locals.products[i].price%>
                            </p>
                        </div>
                        <div class="row justify-content-center">
                            <form action="/cart/add" method="POST" class="mr-auto ml-auto">
                                <input type="submit" value="add to cart" class="btn btn-outline-success" 
                                <% if (locals.cart.length != 0){
                                    for (var j = 0; j < locals.cart.length; j++){
                                        if (locals.cart[j].product_id == locals.products[i].product_id){ %>
                                            disabled
                                        <% }
                                    }
                                } %>
                                >
                                <input type="hidden" name="product_id" value=<%=locals.products[i].product_id%>>
                            </form>
                            <form action="/favorite/add" method="POST" class="mr-auto ml-auto">
                                <input type="submit" value="favorite" class="btn btn-outline-warning"
                                <% if (locals.favorite_products.length != 0){
                                    for (var j = 0; j < locals.favorite_products.length; j++){
                                        if (locals.favorite_products[j].product_id == locals.products[i].product_id){ %>
                                            disabled
                                        <% }
                                    }
                                } %>
                                >
                                <input type="hidden" name="product_id" value=<%=locals.products[i].product_id%>>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>

<%- include ('../partials/footer') %>